html, body {
  margin:0;
  max-width: 100%;
  overflow-x: hidden;
height: 100%;
}

.center{
    text-align: center;
}

.blockblack{

    border: 2px dashed rgba(25,36,102,0.8);
    color: rgb(25,36,102);
    padding: 30px;
    
}

.square{

    background-color: aqua;
    text-align: center;
    
    display: block;
    margin: auto;
    width: 80%;
}

#main img{
    height: 100px;
}

#main{


    background-image: url(../imgs/main.png);
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
height: 100%;
    color: white;
 
}

#logo{
position: relative;
top:35%;
}

#grid img{
  height: 33.33%;
}

.bar{
    padding: 40px;
    background-color: rgb(255,210,10);
    color: rgb(5,10,82);
     border-bottom: 4px dashed #000;
    border-top: 4px dashed #000;
}

#second{
    background-image: url(../imgs/speaker.png);          
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        background-repeat: no-repeat;
    background-position: 0px; 
    
}

button {
    background-color: rgba(255,255,255,1);
    color: rgb(5,10,82);;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
     box-shadow: -5px 5px 0px 0px rgba(25,0,132,0.8), -4px 4px 0px 0px rgba(25,0,132,0.8), -3px 3px 0px 0px rgba(25,0,132,0.8), -2px 2px 0px 0px rgba(25,0,132,0.8), -1px 1px 0px 0px rgba(25,0,132,0.8), 0px 0px 0px 0px rgba(25,0,132,0.8);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
    
    
}

button:hover {
     box-shadow: -0px 0px 0px 0px rgba(255,0,132,0.8), -0px 0px 0px 0px rgba(25,0,132,0.8), -0px 0px 0px 0px rgba(255,0,132,0.8), -0px 0px 0px 0px rgba(255,0,132,0.8), -0px 0px 0px 0px rgba(255,0,132,0.8), 0px 0px 0px 0px rgba(255,0,132,0.8);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}


#involved{
    background-image: url(../imgs/SignUp.png);
          -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        background-repeat: no-repeat;
    background-position: 0px; 
    
    text-align: center;
    vertical-align: middle;
width: 100%;
height: 70%;
    z-index: 1;
}



#outer{
height:100%;
width:100%;
display:table;
vertical-align:middle;
text-align: center;
margin-left:auto;
margin-right:auto;
    color: white;
}
#container {
text-align: center;
position:relative;
vertical-align:middle;
display:table-cell;
height: 468px;
} 


#social{
    padding: 20px;
    font-size: 40px;
}



input[type=text]{
    border-radius: 0px;
 box-shadow: -5px 5px 0px 0px rgba(25,0,132,0.8), -4px 4px 0px 0px rgba(25,0,132,0.8), -3px 3px 0px 0px rgba(25,0,132,0.8), -2px 2px 0px 0px rgba(25,0,132,0.8), -1px 1px 0px 0px rgba(25,0,132,0.8), 0px 0px 0px 0px rgba(25,0,132,0.8);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

input[type=text]:focus{
    background-color: rgba(255,255,255,0.8);
     box-shadow: -0px 0px 0px 0px rgba(255,0,132,0.8), -0px 0px 0px 0px rgba(255,0,132,0.8), -0px 0px 0px 0px rgba(255,0,132,0.8), -0px 0px 0px 0px rgba(255,0,132,0.8), -0px 0px 0px 0px rgba(255,0,132,0.8), 0px 0px 0px 0px rgba(255,0,132,0.8);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
    
}

#sponsor{
    padding: 40px;
    background-color: rgb(255,210,10);
    color: rgb(5,10,82);
    border-top: 4px dashed #000;
}

#bottom{
    padding: 20px;
    border-bottom: 4px dashed #000;
}

#footer{
    background-color: rgb(255,210,10);
}

.fa-facebook{
    color: #3b5998;
}

.fa-twitter{
    color: #0084b4;
}

.fa-envelope{
    color: #3498db;
}

#footer i{
    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#footer i:hover{
    color: rgb(25,0,132);
    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#coc{
    margin-bottom: 20px;
}