.center{
    text-align: center;
}

.blockblack{
    background-color: rgba(255,225,11,0.5);
    color: rgb(25,36,102);
    padding: 30px;
}

.square{

    background-color: aqua;
    text-align: center;
    
    display: block;
    margin: auto;
    width: 80%;
}
textarea{

}
#main img{
    height: 100px;
}

input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #000;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
